* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 0.5s ease-in-out;
}

.caixa-maior {
    background-color: #000000;
    opacity: 0.8;
    /* TRANSPARÊNCIA */
    width: 95%;
    /* LARGURA */
    max-width: 550px; /* Aumentado de 450px para 550px */
    border-radius: 25px;
    /* ARREDONDAR BORDA */
    padding:25px;
}

.lupa {
    color: #ffffff;
    font-size: 18px;
}

.container-busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

button {
    border: none;
    padding: 12px;
    background-color: #333333;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px; /* Tamanho fixo */
    height: 45px;
    flex-shrink: 0; /* Impede que o botão diminua */
}

button:hover {
    background-color: #444444; /* Leve destaque no hover */
}

input {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    font-size: 20px;
    flex: 1; /* Ocupa o espaço disponível */
    height: 45px; /* Mesma altura do botão */
}

.caixa-media {
    margin-top: 15px;
}

.cidade {
    color: #ffffff;
    font-size: 28px;
}

.tempo {
    color: #ffffff;
    margin-top: 15px;
    font-size: 40px; /* Aumentado para destaque */
}

.icone {
    display: block;
    margin: 10px 0;
    height: 90px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));
}

.umidade {
    color: #ffffff;
    margin-top: 15px;
}

.versao {
    color: #7c7c7c;
    font-size: 15px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: -15px;
}

/* RESPONSIVIDADE (MOBILE) */
@media (max-width: 480px) {
    .caixa-maior {
        width: 90%;
        padding: 15px;
    }

    input {
        font-size: 18px;
        width: calc(100% - 55px);
    }

    .caixa-media {
        margin-top: 15px;
    }

    .cidade {
        font-size: 20px;
    }

    .tempo {
        font-size: 28px;
        margin-top: 10px;
    }

    .icone {
        height: 60px;
        margin: 5px 0;
    }

    .umidade {
        margin-top: 10px;
    }
}